@import url('https://fonts.cdnfonts.com/css/tetris');
@import url('https://fonts.cdnfonts.com/css/offbit-trial');
@import url('https://fonts.cdnfonts.com/css/serious');
@import url('https://fonts.cdnfonts.com/css/big-pixel-demo');

main {
  min-height: 100vh;
  background-color: #172569;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-image: url("https://europe1.discourse-cdn.com/unity/original/3X/d/0/d08e6157b84da9042b479de4dadba0329f7903b7.gif");
  background-size: cover;
  background-position: bottom;
  box-sizing: border-box;
}
.contenedor-imagen-mapa{
  width: auto;
  height: auto;
  display: flex;
  /*justify-content: center;*/
  gap:50px;
  align-items: center;
  margin-bottom:50px;
}

.imagen-mapa{
  width: 40%;
}
.boton-borrar-mapa{
  width: 30%;
  height: 10%;
  background-color: #a64040;
  color: #ffffff;
  letter-spacing:2px;
  border: none;
}
fieldset {
  padding: 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

legend {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.block1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-bottom: #172569 5px solid;
  border-right: #172569 5px solid;
}

.block2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-bottom: #172569 5px solid;
  border-left: #172569 5px solid;
  display: flex;
  flex-direction: column;
}

.block3 {
  border-top: #172569 5px solid;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.block4 {
  border-top: #172569 10px solid;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.block5 {
  border-top: #172569 5px solid;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.form-control {
  width: 100%;
  margin: 2.5% 0;
  padding: 8px;
  box-sizing: border-box;
}

.textarea-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.textarea-container textarea {
  flex: 1;
}

form {
  min-height: 100vh;
  margin-top: 1.5%;
}

button {
  width: 80%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
}

.content_button {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 1200px;
  margin: 15px auto;
  place-items: center;
}

button[type="reset"] {
  background-color: lightcoral;
}

button[type="submit"] {
  background-color: lightgreen;
}

button[type="reset"]:hover {
  background-color: red;
}

button[type="submit"]:hover {
  background-color: green;
  filter: brightness(110%);
}

legend {
  width: fit-content;
  font-family: 'serious3b', sans-serif;
}

label {
  font-family: 'Big Pixel Shadowed Demo', sans-serif;
  color: white;
}

.genders, .plataform {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
  border: 1px #ccc solid;
  border-radius: 15px;
  background-color: #ccc;
}

.genders label, .plataform label {
  margin: 0 15px;
  color: black;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 3px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/69/Add_document_icon_%28the_Noun_Project_27896%29_blue.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}


input, textarea {
  font-size: large;
  box-sizing: border-box;
  width: 80%;
}

h1 {
  text-align: center;
  width: fit-content;
  background-image: url("https://www.minecrafttexturepacks.com/wp-content/uploads/2012/07/moderncraft.png");
  background-size: 60px;
  background-repeat: repeat-x;
  color: white;
  padding: 5px 10px;
  font-family: 'serious3b', sans-serif;
  margin-top: 15px;
  margin-bottom: 0;
}

p {
  color: white;
}

.aviso {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.aviso2 {
  margin-top: 10px;
  font-weight: bold;
  text-decoration: underline;
}

/* Media query para pantallas móviles */
@media (max-width: 768px) {
  .form-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .block1, .block2, .block3, .block4, .block5 {
    grid-column: 1 / -1;
    grid-row: auto;
    border: none;
  }

  input::placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }

  .content_button {
    grid-template-columns: 1fr;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }

  input, textarea {
    width: 100%;
  }
}

.insert_image{
  width:100%;
}

.view_image{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px 20px 20px;
}

.front_page{
  width: 60%;
}

.view_image img{
  margin-top: 20px;
}

.container_example_frontPage{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

#background_page_example{
  width: 90%;
  height: 40%;
}

#front_page_example{
  width: 100%;
  height: 100%;
}
