<main>
  <h1>Formulario Juego</h1>
  <form #form="ngForm">
    <div class="form-container">
      <fieldset class="block1">
        <legend>Datos</legend>
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" ngModel name="title"  [(ngModel)]="juegoPrueba.title" class="form-control" placeholder="ejem: Genshin Impact...">
        <br>

        <label for="developer">Developer:</label>
        <input type="text" id="developer" ngModel name="developer" [(ngModel)]="juegoPrueba.developer" class="form-control" placeholder="ejem: Hoyoverse..."><br>

        <label for="url1">Enlace trailer:</label>
        <input type="url" id="url1" ngModel name="link_trailer" class="form-control" [(ngModel)]="juegoPrueba.link_trailer" placeholder="ejem: https://www.youtube.com/watch?v=HLUY1nICQRY&ab_channel=IGN">
        <br>

        <label for="url2">Enlace descarga:</label>
        <input type="url" id="url2" ngModel name="link_download" class="form-control" [(ngModel)]="juegoPrueba.link_download" placeholder="ejem: https://www.youtube.com/watch?v=HLUY1nICQRY&ab_channel=IGN">
        <br>

        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" ngModel name="release_date" [(ngModel)]="juegoPrueba.release_date" class="form-control"><br>
        <br>

        <p class="aviso">* Todos los campos son obligatorios.</p>
      </fieldset>

      <fieldset class="block2">
        <legend>Especificaciones</legend>
        <label for="sinopsis">Sinopsis:</label>
        <textarea id="sinopsis" ngModel name="synopsis" [(ngModel)]="juegoPrueba.synopsis" rows="10"  class="form-control" placeholder="ejem: Genshin Impact es un JRPG gratuito de mundo abierto en el que podremos explorar un mundo vasto lleno de..."></textarea>
        <label>Géneros:</label>
        <div class="genders">

          <div *ngFor="let genre of generosOpciones">
            <label>
              <input type="checkbox" name="generos" [value]="genre[0]"  (change)="updateArray(genre[0], this.arrGeneros)" [checked]="arrGeneros.includes(genre[0])">
              {{ genre[1] }}
            </label>
          </div>
        </div>
          <label>Plataformas:</label>
          <div class="plataform">
            <div *ngFor="let platform of plataformasOpciones">
              <label>
                <input type="checkbox" [value]="platform[0]"  name="plataforms"  (change)="updateArray(platform[0], this.plataformasArray)" [checked]="plataformasArray.includes(platform[0])">
                {{ platform[1] }}
              </label>
            </div>
          </div>


        <p class="aviso2">* Todos los campos son obligatorios.</p>
      </fieldset>

      <fieldset class="block3">
        <legend>Portada</legend>
        <section class="container_example_frontPage">
          <article class="insert_image">
            <label for="portada">Subir Imagen:</label>
            <input type="file" id="portada" ngModel name="front_page" [(ngModel)]="juegoPrueba.front_page" (change)="onImageChange_front($event)" accept="image/*" class="form-control">
          </article>
          <article class="view_image front_page" *ngIf="image_preview">
            <label>Ejemplo</label>
            <img [src]="image_preview"  alt="no disponible" id="front_page_example">
          </article>
        </section>
        <p class="aviso2">* Imagen de Portada obligatoria.</p>
      </fieldset>

      <fieldset class="block4">
        <legend>Fondo</legend>
        <section class="container_example_backgroundPage">
          <article>
            <label for="fondo">Subir Imagen:</label>
            <input type="file" id="fondo" ngModel name="front_page" (change)="onImageChange_background($event)" accept="image/*" class="form-control">
          </article>
          <article class="view_image background_page" *ngIf="image_preview_background">
            <label>Ejemplo</label>
            <img [src]="image_preview_background" alt="no disponible" id="background_page_example">
          </article>
        </section>
        <p class="aviso2">* Imagen de Fondo obligatoria.</p>
      </fieldset>

      <fieldset class="block5">
        <legend>Mapas</legend>
        <label for="maps">Subir Mapas:</label>
        <input type="file" id="maps" name="maps" (change)="onMapChange($event)" accept="image/*" class="form-control">
        <button type="button" class="add" (click)="addMap()"></button>
      </fieldset>
      <p class="aviso2">* Debe contener al menos 1 mapa (máximo 7).</p>
    </div>
    <div class="content_button">
      <button type="reset" (click)="resetForm()" >Vaciar Campos</button>
      <button type="submit" (click)="formularioJuego()">Editar</button>
    </div>
  </form>
</main>
