
/*nav{*/
/*  background-color: white;*/
/*  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);*/
/*}*/

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  padding: 20px;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  /*color: #FFF887;*/
  color: #02caaa;
  font-weight: bold;
  font-size: 20px;
  transition: all .5s;
  border-radius: 3rem;
}
nav a:hover:not(.icono):not(li.logo a) {
  background-color: #f0f0f0;
}
nav li:first-child{
  margin-right: auto;
}

.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
/*@media(max-width: 800px){*/
/*  .hideOnMobile{*/
/*    display: none;*/
/*  }*/
  .menu-button{
    display: block;
  }

/*@media(max-width: 400px){*/
/*  .sidebar{*/
/*    width: 100%;*/
/*  }*/
/*}*/
.logo{
  background-image: url("/assets/LOGOOOOOOO-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100px ;

  width: 10%;
}
img{
  width: 400px;
  height: 100px
}
