.div-padre-formulario {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 120%);
}

/* Estilos del formulario */
.formulario {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  align-items: center;
}

/* Título del formulario */
.form-title {
  font-size: 24px;
  color: #444;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos de etiquetas */
.formulario label {
  color: #333;
  font-size: 16px;
  align-self: flex-start;
}

/* Estilos de entradas y botones */
.formulario input, .formulario button {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 5px;
}

/* Estilos de entrada de texto */
.formulario input {
  background-color: rgba(240, 240, 240, 0.8);
  color: #333;
  border: 2px solid black; /* Borde negro */
}

/* Estilos del botón de enviar */
.formulario button[type="submit"] {
  background-color: #5a67d8;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button[type="submit"]:hover {
  background-color: #4c51bf;
}

/* Estilos del botón de cancelar */
.cancel {
  background-color: #e53e3e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel:hover {
  background-color: #c53030;
}

/* Estilos del mensaje de error */
.p-error {
  display: block;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-top: -10px;
}
