
<div class="div-padre-formulario">
  <form #formCodeVerify="ngForm">
    <div class="formulario">
      <div>
        <label>Introduzca el código de verificación</label><br>
                <input class="input-formulario" type="text" ngModel required name="code" pattern="[0-9]{5}" maxlength="5">



          <div class="div-botones">
            <p class="p-error" *ngIf="errorMessage"> {{ errorMessage }}</p>
            <button class="cancelar-btn" type="button" (click)="cancelSendCode()">Cancelar</button>
            <button class="confirmar-btn" type="submit" [disabled]="!formCodeVerify.valid" (click)="verifyCode()">Confirmar</button>
          </div>
      </div>
    </div>
  </form>
</div>
