<div class="div-padre-formulario">
  <form #formCodeVerify="ngForm">
    <div class="formulario">
      <div>
        <label>Introduzca el codigo de verificacion</label><br>
        <input class="input-formulario" type="text" ngModel required name="code" pattern="[0-9]{5}">
      </div>
      <p class="p-error" *ngIf="errorMessage"> {{ errorMessage }}</p>
      <div class="prueba" style="display: flex ">
        <button class="cancel" type="button" (click)="cancelSendCode()">Atras</button>
        <button class="password-recovery-button" type="submit" [disabled]="!formCodeVerify.valid" (click)="verifyCode()">Continue</button>
      </div>

    </div>

  </form>


  <div class="drops">
    <div class="drop-drop-1"></div>
    <div class="drop-drop-2"></div>
    <div class="drop-drop-3"></div>
    <div class="drop-drop-4"></div>
    <div class="drop-drop-5"></div>
  </div>
</div>


