
<div class="main-content">
<div class="container">
  <h1>Contacta con Nosotros</h1>
  <form method="post" #form="ngForm" enctype="text/plain">

    <label for="subject">Asunto</label>
    <input type="text" id="subject" ngModel name="subject" required placeholder="Asunto del correo">

    <label for="message">Mensaje</label>
    <input id="message" rows="6" ngModel name="message" required placeholder="Mensaje">

    <button type="submit" (click)="enviarCorreo()">Enviar</button>
  </form>
</div>
</div>
