
<div class="main-content">
<div class="container">
  <h1>Contacta con Nosotros</h1>
  <form action="mailto:contacto@nombreapp.com" method="post" enctype="text/plain">

    <label for="subject">Asunto</label>
    <input type="text" id="subject" name="subject" required placeholder="Asunto del correo">

    <label for="message">Mensaje</label>
    <textarea id="message" name="message" rows="6" required placeholder="Mensaje"></textarea>

    <button type="submit">Enviar</button>
  </form>
</div>
</div>
