<!--<div class="main-content">-->

<!--  <h1>Constacta con nosotros</h1>-->
<!--  <div class="contenedor-primario">-->

<!--    <div class="panel-principal">-->

<!--      <span> En AntobsGames, nuestra pasión por los videojuegos es lo que nos impulsa a ofrecerte la mejor informacion y las últimas novedades del mundo gaming.-->
<!--             Somos un equipo de tres entusiastas de los videojuegos con habilidades y experiencias complementarias,-->
<!--             dedicados a brindarte contenido de calidad y herramientas útiles para tu experiencia gamer.-->
<!--      </span>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div class="main-content">
<div class="container">
  <h1>Contacta con Nosotros</h1>
  <form action="mailto:contacto@nombreapp.com" method="post" enctype="text/plain">

    <label for="subject">Asunto</label>
    <input type="text" id="subject" name="subject" required placeholder="Asunto del correo">

    <label for="message">Mensaje</label>
    <textarea id="message" name="message" rows="6" required placeholder="Mensaje"></textarea>

    <button type="submit">Enviar</button>
  </form>
</div>
</div>
