.main-content{
  height: auto;
  width:auto;
  background-color: #161a3a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor-primario{

  display: flex;
  width: 100%;
  height: 80%;
  justify-content: center;

}
h1{
  margin-left:80px;
  margin-top:30px;
  color:white;
}
h4{
  text-align: center;
}
.panel-principal{

  background-color: #161a3a;
  max-width:800px;
  color:white;
  /*text-align: justify;*/
  width: 100%;
  height: 600px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:50px;
}
@media screen and (max-width: 600px) {
  .contenedor-primario {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;

  }
  .panel-principal{
    /*max-width:400px;*/
    background-color: #161a3a;
    margin-left:60px;
    margin-right:60px;
    color:white;
    height: auto;
    text-align: justify;
    width: auto;
    display:flex;
    margin-bottom:30px;
    gap:50px;
  }

  h1{
    margin-right:80px;
    margin-top:30px;
    margin-bottom:30px;
    color:white;
  }

}







/*.contenedor-secundario{*/
/*  display: flex;*/
/*  width: 100%;*/
/*  height:120%;*/
/*  justify-content: start;*/
/*  background-color: #161a3a;*/
/*  margin-bottom: 20px;*/
/*}*/

/*.imagen-contenedor-secundario{*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/


/*.contenedor-secundario picture img{*/
/*  width: 100%;*/
/*  height: 120%;*/
/*}*/
/*.contenedor-respuesta{*/

/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  padding-left:80px;*/
/*  padding-right:40px;*/
/*  background-color: #161a3a;*/
/*  max-width:700px;*/
/*}*/
/*.cuerpo-respuesta{*/
/*  width: 60%;*/

/*}*/

/*h5{*/
/*  color:white;*/
/*}*/

/*p{*/
/*  color: #d5d0d0;*/
/*  font-size: 18px;*/

/*}*/
/*.contenedor-terciario{*/
/*  display: flex;*/
/*  width: auto;*/
/*  height:auto;*/
/*  justify-content: space-between;*/
/*  background-color: #161a3a;*/
/*}*/
/*.cabecera-respuesta-terciario,.cabecera-respuesta{*/
/*  margin-bottom:20px;*/
/*}*/
/*.contenedor-terciario picture img{*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/
/*.contenedor-respuesta-terciario{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  padding-left:40px;*/
/*  padding-right:40px;*/
/*  background-color: #161a3a;*/
/*  max-width:800px;*/
/*}*/

/*.imagen-contenedor-terciario{*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/
/*@media (max-width: 1100px) {*/
/*  .contenedor-primario {*/
/*    display: none;*/
/*  }*/
/* */
/*  }*/
/*  .contenedor-terciario {*/
/*    flex-direction: column-reverse;*/
/*  }*/
/*  .cabecera-respuesta{*/
/*    margin-top:20px;*/
/*    text-align: justify;*/
/*  }*/

/*  .contenedor-respuesta .cuerpo-respuesta{*/
/*    width: 100%;*/
/*  }*/
/*  .cuerpo-respuesta, .cabecera-respuesta{*/
/*    text-align: justify;*/
/*  }*/
/*  .cabecera-respuesta-terciario{*/
/*    margin-top:20px;*/

/*  }*/
/*  .contenedor-respuesta, .contenedor-respuesta-terciario {*/
/*    width: 90%;*/
/*  */
/*}*/
