
<div class="div-padre-formulario">
  <form #formNewAccount="ngForm">
    <div class="formulario">
      <div>
        <label>Usuario</label><br>
        <input class="input-formulario" type="text" ngModel name="usernameNew" required minLength="5">
        <br><br>
        <label>Correo</label><br>
        <input class="input-formulario" type="email" ngModel name="emailNew" email required>
        <br><br>
        <label>Contraseña</label><br>
        <input class="input-formulario" type="password" ngModel name="passwordNew" required>
        <br><br>
        <span *ngIf="errorMessage" class="p-error" id="error">
          Error al registrarse, revise la longitud de los datos proporcionados
        </span>

      </div>


      <div class="prueba" style="display:flex">
        <button class="cancel" type="button" (click)="cancelRegister()">Cancelar</button>
        <button class="register-button" type="submit"
        [disabled]="!formNewAccount.valid" (click)="registerNewUser()">Create Account</button>
      </div>

    </div>

  </form>


  <div class="drops">
    <div class="drop-drop-1"></div>
    <div class="drop-drop-2"></div>
    <div class="drop-drop-3"></div>
    <div class="drop-drop-4"></div>
    <div class="drop-drop-5"></div>
  </div>
</div>

