
<div class="main-content">

  <div class="contenedor-formulario">
    <div class="cabecera-formulario">
      <h3>Crear Cuenta</h3>
    </div>
    <form #formNewAccount="ngForm" class="formulario">

                <label>Usuario</label>
                <input class="input-formulario" placeholder="Usuario" type="text" ngModel name="usernameNew" required minLength="5">

                <label>Correo</label>
                <input class="input-formulario" placeholder="Correo" type="email" ngModel name="emailNew" email required>

                <label>Contraseña</label>
                <input class="input-formulario" placeholder="Contraseña" type="password" ngModel name="passwordNew" required>

                <span *ngIf="errorValidate" class="p-error">
               {{ errorMessage }}
              </span>

            <div class="contenedor-botones">


              <button class="cancel" type="button" (click)="cancelRegister()">Atras</button>
        <button class="confirmar" [disabled]="!formNewAccount.valid" (click)="registerNewUser()">Crear Cuenta</button>

      </div>

    </form>
  </div>

  <div class="contenedor-imagen"> </div>


</div>
