
<div class="div-padre-formulario">

  <div class="formulario">
        <div>
            <label>Usuario</label><br>
            <input class="input-formulario" type="text">
            <br><br>
            <label>Contraseña</label><br>
            <input class="input-formulario" type="text">

        </div>
.

        <div class="prueba">
          <button class="login-button" type="submit">Login</button>

          <div class="div-enlaces-formulario">
            <a>Crear una cuenta</a>
            <a>Has olvidado la contraseña?</a>
          </div>
<!--          <a>Crear una cuenta</a>-->
<!--          <a>Has olvidado la contraseña?</a>-->
        </div>

  </div>

</div>
