

<div class="main-content">

  <div class="contenedor-formulario">
    <div class="cabecera-formulario">
      <h3>Crear Cuenta</h3>
    </div>
    <form #formChangePassword="ngForm" class="formulario">

       <label>Introduzca la nueva contraseña</label><br>
              <input class="input-formulario" type="password" ngModel required name="newPassword">

      <span *ngIf="errorValidate" class="p-error">
               {{ errorMessage }}
              </span>

      <div class="contenedor-botones">


        <button class="cancel" type="button" (click)="cancelChangePassword()">Atras</button>
        <button class="confirmar" [disabled]="!formChangePassword.valid" (click)="changeOldPasswordAccount()">Crear Cuenta</button>

      </div>

    </form>
  </div>

  <div class="contenedor-imagen"> </div>


</div>
