
.div-padre-formulario{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.formulario{
  background-color: #393939;
  padding-left:100px;
  padding-right:100px;
  padding-top:40px;
  padding-bottom:180px;
  display: grid;

  gap: 50px;
  align-items: center;
  justify-content: center;

}

label{
  color:white;
  font-size: 20px;
}
.input-formulario{
  background-color: #393939;
  border: 3px solid #f3dcb2;
  border-radius: 3px;
  padding-top:7px;
  padding-bottom:7px;
  color:white;
  backdrop-filter: blur(53px);
}

.login-button{
  background-color: #f5deb3;
  border-radius: 12px;
  font-size: 25px;
  padding-left:65px;
  padding-right:65px;
  padding-top:5px;
  padding-bottom:5px;
}


.login-button:hover{
cursor: pointer;
}


.div-enlaces-formulario{
  display:  flex;
  flex-direction: column;
  padding-top: 5px;
}
.div-enlaces-formulario a{

  color:white;
  font-size:10px;
  white-space: nowrap; /* Evita que los enlaces se envuelvan en el mismo espacio */
  margin-bottom: 5px;
}

.prueba{
  display: grid;
  gap:8px;
  color:white;
  font-size:14px;
}

