
<div class="div-padre-formulario">
<form>
  <div class="formulario">
        <div>
            <label>Usuario</label><br>
<!--          <fieldset class="input-formulario"><legend>Usuario</legend></fieldset>-->
            <input class="input-formulario" type="text">
            <br><br>
            <label>Contraseña</label><br>
            <input class="input-formulario" type="text">

        </div>


        <div class="prueba">
          <button class="login-button" type="submit">Login</button>

          <div class="div-enlaces-formulario">
            <a routerLink="/newAccount">Crear una cuenta</a>
            <a routerLink="/forgottenPassword">Has olvidado la contraseña?</a>
          </div>
        </div>

  </div>

</form>


  <div class="drops">
    <div class="drop-drop-1"></div>
    <div class="drop-drop-2"></div>
    <div class="drop-drop-3"></div>
    <div class="drop-drop-4"></div>
    <div class="drop-drop-5"></div>
  </div>
</div>
