.game-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Para mostrar 3 juegos por fila*/
  gap: 10px; /* Esto añade un espacio de 10px entre las imágenes */
  position: relative;
}
.game img {
  width: 50%;
  height: 80%;
}
.login-button {
  position: absolute;
  top: 15px;
  right: 15px;
}

.login-button img {
  width: 120px; /* Define el ancho de la imagen */
  height: 120px; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}


