
<body class="bg-purple">




  <div class="central-body">

    <img src="https://media.tenor.com/2uYLHXwImzUAAAAj/kong-donkey.gif">
      <div class="div-404" style="background-image: url('assets/Prueba.png')">

      </div>
    <img class="error-imagen" src="assets/404bueno.png">
      <a class="btn-go-home" routerLink="">Volver al inicio</a>


  </div>




    <div class="box_astronaut">
      <img class="object_astronaut" src="https://media.tenor.com/2uYLHXwImzUAAAAj/kong-donkey.gif" width="140px">
    </div>



  <div class="glowing_stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>

  </div>

</body>




