<!--<p *ngIf="juego;else noencontrado">Estás en el juego {{ juego.title }}!!!!!!!!!!!!</p>-->
<!--<ng-template #noencontrado>-->
<!--  <h2>El título no existe</h2></ng-template>-->


<!--@if(JuegoPrueba.id !=null){-->

<!--<div class="container-info-juego">-->

<!--<div class="juego">-->


<!--<div class="contenedor-foto">-->

<!--<img src="{{juego.url}}">-->

<!--</div>-->

<!--<div class="datos-juego" >-->

<!--<p><b>Juego: </b>{{JuegoPrueba.title}}</p>-->
<!--<p><b>Plataformas: </b>(JuegoPrueba)</p>-->
<!--<p><b>Desarrollador: </b>(Desarrollador)</p>-->
<!--<p><b>Sinopsis: </b>(La Sinopsis)</p>-->



<!--</div>-->


<!--</div>-->


<!--</div>-->


<!--}@else{-->
<!--<h2>El título no existe</h2>-->
<!--}-->



<!--@if(respuestaError == false){-->

<!--<div class="container-info-juego">-->

<!--<div class="juego">-->


<!--<div class="contenedor-foto">-->


<!--  <img *ngif(juego.url !=undefined) src="{{juego.url}}">-->

<!--</div>-->

<!--<div class="datos-juego" >-->

<!--<p><b>Juego: </b>{{juegoPrueba.title}}</p>-->
<!--<p><b>Plataformas: </b>{{juegoPrueba.plataforms}}</p>-->
<!--<p><b>Desarrollador: </b>{{juegoPrueba.developer}}</p>-->

<!--&lt;!&ndash;  <div>&ndash;&gt;-->
<!--&lt;!&ndash;    <p>&ndash;&gt;-->
<!--&lt;!&ndash;      {{seeMore ? juegoPrueba.synopsis:(juegoPrueba.synopsis | slice:0:searchDot+1)}}&ndash;&gt;-->
<!--&lt;!&ndash;    </p>&ndash;&gt;-->
<!--&lt;!&ndash;    <button (click)="lookFullSynopsis()">{{seeMore ? seeLess : seeMoreButton}}</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--</div>-->

<!--  <div class="sinopsis">-->
<!--      <b>Sinopsis: </b>-->
<!--      {{juegoPrueba.synopsis}}-->
<!--  </div>-->

<!--</div>-->


<!--</div>-->


<!--}@else{-->
<!--<h2>El título no existe</h2>-->
<!--}-->
<!--@if(respuestaError == false){-->
<div class="container-info-juego">

  <div class="container">

    <div class="Foto">
      <img class="imagen-portada" [src]="juego.url" alt="No se encontro la imagen">
    </div>
    <div class="Informacion">
        <p><b>Juego: </b>{{juegoPrueba.title}}</p><br>
        <p><b>Plataformas: </b>{{juegoPrueba.plataforms}}</p><br>
        <p><b>Desarrollador: </b>{{juegoPrueba.developer}}</p><br>
        <p><b>Fecha Salida: </b>Fecha Salida</p><br>
        <p><b>Link Trailer: </b>Link Trailer</p><br>
        <p><b>Link-Descarga: </b>Link Descarga</p><br>
    </div>
  </div>
  <div class="contenedor-otros-datos">
      <div class="Mapas">

        <div class="container">

        </div>


        <!--        <div class="card">-->
<!--          <p-carousel-->
<!--            [value]="mapas"-->
<!--            [numVisible]="3"-->
<!--            [numScroll]="3"-->
<!--            [circular]="true"-->
<!--&lt;!&ndash;            [responsiveOptions]="responsiveOptions"&ndash;&gt;-->
<!--            autoplayInterval="3000"-->
<!--          >-->
<!--            <ng-template let-product pTemplate="item">-->
<!--              <div class="border-1 surface-border border-round m-2 p-3">-->
<!--                <div class="mb-3">-->
<!--                  <div class="relative mx-auto">-->
<!--                    <img-->
<!--                      src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}"-->
<!--                      [alt]="product.name"-->
<!--                      class="w-full border-round"-->
<!--                    />-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </ng-template>-->
<!--          </p-carousel>-->
<!--        </div>-->

      </div>

      <div class="Sinopsis">
        <b>Sinopsis: </b>
        <!--      PONERLO FUERA DE LA CAJA (SINOPSIS)-->
        {{juegoPrueba.synopsis}}
      </div>
      <div class="Comentarios">
        <form #formComments="ngForm">
        <input type="text" placeholder="Añadir Comentario" ngModel required name="commentValue" (focus)="mostrarBotonesFormPadre=true">
        <div style="display: flex" *ngIf="mostrarBotonesFormPadre">
          <button type="button" (click)="cancelarComentario()">Cancelar</button>
          <button type="submit" (click)="aniadirComentario()">Comentar</button>
        </div>
        </form>
        <div class="contentComment" *ngIf="gameComment">
          {{ gameComment.user }}
          <p>
          {{ gameComment.content_comment}}
            <a href="#" (click)="mostrarFormComentarioHijo(); $event.preventDefault()">Responder</a>
          <div *ngIf="mostrarFormHijo">
            <form #formCommentsChild="ngForm">
              <input type="text" placeholder="Añadir Comentario" [(ngModel)]="userCommentFather" name="commentValueChild">
              <div style="display: flex">
                <button type="button" (click)="cancelarComentario()">Cancelar</button>
                <button type="submit" (click)="aniadirComentarioHijo()">Comentar</button>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="!gameComment">
          No hay comentarios para este juego actualmente
        </div>
      </div>
  </div>
</div>
<!--}@else{-->
<!--<h2>El título no existe</h2>-->
<!--}-->
