<!--<p *ngIf="juego;else noencontrado">Estás en el juego {{ juego.title }}!!!!!!!!!!!!</p>-->
<!--<ng-template #noencontrado>-->
<!--  <h2>El título no existe</h2></ng-template>-->


<!--@if(juego){-->

<!--<div class="container-info-juego">-->

<!--<div class="juego">-->


<!--<div class="contenedor-foto">-->

<!--<img src="{{juego.url}}">-->

<!--</div>-->

<!--<div class="datos-juego" >-->

<!--<p><b>Juego: </b>{{juego.title}}</p>-->
<!--<p><b>Plataformas: </b>(Plataformas)</p>-->
<!--<p><b>Desarrollador: </b>(Desarrollador)</p>-->
<!--<p><b>Sinopsis: </b>(La Sinopsis)</p>-->



<!--</div>-->


<!--</div>-->


<!--</div>-->


<!--}@else{-->
<!--<h2>El título no existe</h2>-->
<!--}-->



@if(juegoPrueba.id){

<div class="container-info-juego">

<div class="juego">


<div class="contenedor-foto">

<img src="{{juego.url}}">

</div>

<div class="datos-juego" >

<p><b>Juego: </b>{{juegoPrueba.title}}</p>
<p><b>Plataformas: </b>{{juegoPrueba.plataforms}}</p>
<p><b>Desarrollador: </b>{{juegoPrueba.developer}}</p>
<b>Sinopsis: </b>
  <div>
    <p>
      {{seeMore ? juegoPrueba.synopsis:(juegoPrueba.synopsis | slice:0:searchDot+1)}}
    </p>
    <button (click)="lookFullSynopsis()">{{seeMore ? seeLess : seeMoreButton}}</button>
  </div>





</div>


</div>


</div>


}@else{
<h2>El título no existe</h2>
}
