
nav ul:not(.lista-panel):not(.dropdown ul) {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
  padding: 20px;
}
nav li{
  height: 50px;
}
.foto-icono{
  width: 50px;
  height: 50px;

  margin-left: 22px;

}
/*.enlace-nombre-usuario{*/
/*  margin-right: 150px;*/
/*}*/

/*@media screen and (max-width: 1150px) {*/
/*  .enlace-nombre-usuario{*/
/*    display:none;*/
/*    color:red;*/
/*  }*/
/*  ul li:nth-child(2){*/
/*    color:white;*/
/*    display:none;*/
/*  }*/
/*}*/
/*@media screen and (min-width: 1150px) {*/
/*  .nombre-usuario{*/
/*    display:none;*/

/*  }*/
/*}*/


nav a:not(.dropdown-item){
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  /*color: #FFF887;*/
  color: #02caaa;
  font-weight: bold;
  font-size: 20px;
  transition: all .5s;
  border-radius: 3rem;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 00em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  background-color: transparent;
  border-left: 0.3em solid transparent;
}
.dropdown{
  /*background-color:red;*/
}
.dropdown-toggle{

}
.dropdown-menu{
  background-color: transparent;
  backdrop-filter: blur(60px);
}
.dropdown-menu li a{
  color: #eeecec;


}

nav a:hover:not(.icono) :not(.dropdown-item):not(li.logo a):not(ul li:nth-child(2) a) {
  background-color: #f0f0f0;
}

nav li:first-child{
  margin-right: auto;
}

.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}

ul{
  margin:0;
}

/*@media(max-width: 800px){*/
/*  .hideOnMobile{*/
/*    display: none;*/
/*  }*/


/*@media(max-width: 400px){*/
/*  .sidebar{*/
/*    width: 100%;*/
/*  }*/
/*}*/



.login-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  align-items: center;
}

.login-dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.login-dropdown a:hover {background-color: #f1f1f1}

.show {
  display: block;
  margin-bottom: 20px;
}

.hideOnMobile {
  display: none;
}
@media (min-width:920px) {
  .hideOnMobile {
    display: block;
  }
}
/*710*/
.menu-button {
  display: none;
}

@media (max-width: 920px) {
  .menu-button {
    background-color: rgba(255, 255, 255, 0.55);
    display: block;
    border-radius:50px;
  }
}

.menuOpen {
  flex-direction: column;
}

.logo{
  background-image: url("/assets/Antobsgames.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 500px ;
  min-width: 200px;
}
img{
  width: 400px;
  height: 100px
}


.login-container.active .contenedor-panel {
  display: block;
}

.login-container .contenedor-panel {
  cursor: auto;
  display: none;
  padding: 110px 40px 60px;
  position: absolute;
  right: -40px;
  top: -45px;
  z-index: 10;
}

.login-container .contenedor-panel .panel {
  align-items: center;
  backdrop-filter: blur(60px) saturate(100%);
  -webkit-backdrop-filter: blur(60px) saturate(100%);
  border-radius: 10px;
  box-shadow: 0 0 0 2000px hsla(0, 0%, 6%, .6);
  display: flex;
  flex-direction: column;
  overflow: auto;
}


.login-container .padding ul li a {
  align-items: center;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  padding: 8px 15px;
  position: relative;
  white-space: nowrap;
}





