
<nav>

  <ul [class.menuOpen]="menuOpen">

    <li class="logo"> <a routerLink="/"></a></li>
<!--    <li class="hideOnMobile" [class.hideOnMobile]="!menuOpen"><a class="enlace-nombre-usuario">Hola de nuevo {{datosUsuario.username}}</a></li>-->
    <li *ngIf="usuarioLogado" class="hideOnMobile" [class.hideOnMobile]="!menuOpen" ><a [routerLink]="['/testeo']">Blog</a></li>
    <li *ngIf="usuarioLogado" class="hideOnMobile" [class.hideOnMobile]="!menuOpen" ><a [routerLink]="['/perfil']" >Perfil</a></li>
    <li class="hideOnMobile" [class.hideOnMobile]="!menuOpen" ><a routerLink="/aniadirJuegos" >Juegos</a></li>
    <li *ngIf="usuarioLogado" (click)="desconectar()" class="hideOnMobile" [class.hideOnMobile]="!menuOpen" ><a href="#">Cerrar Sesion</a></li>
    <li class="hideOnMobile" [class.hideOnMobile]="!menuOpen">
<!--      <p-avatar image="{{datosUsuario.profile_picture}}"  icon="pi pi-user" styleClass="mr-2" size="large"  [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }" shape="circle"></p-avatar>-->


      @if(!menuOpen){

      <div #loginContainer  class='login-container' [ngClass]="{'active': loginOpen}">
        <a  class="icono">

         <div class="dropdown">

            <p-avatar class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="usuarioLogado" icon="pi pi-user" styleClass="mr-2" size="large"  [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }" shape="circle"><img class="foto-icono" src={{datosUsuario.profile_picture}}></p-avatar>
            <p-avatar class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="!usuarioLogado" icon="pi pi-user" styleClass="mr-2" size="large"  [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }" shape="circle"></p-avatar>

            <ul class="dropdown-menu" style="">
              <li *ngIf="!usuarioLogado"><a class="dropdown-item" routerLink="/login">Iniciar Sesion</a></li>
              <li *ngIf="!usuarioLogado"><a class="dropdown-item" routerLink="/newAccount">Crear Cuenta</a></li>
              <li *ngIf="usuarioLogado"><a class="dropdown-item" (click)="desconectar()" href="#">Desconectarse</a></li>
              <li *ngIf="usuarioLogado"><a class="dropdown-item" routerLink="/perfil">Ver Perfil</a></li>
            </ul>
          </div>
<!--          <p-avatar  icon="pi pi-user" styleClass="mr-2" size="large"  [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }" shape="circle"></p-avatar>-->
          </a>

<!--        <span class="nombre-usuario" *ngIf="usuarioLogado">{{datosUsuario.username}}</span>-->

        <div class="contenedor-panel">
          <div class="panel">
            <ul class="lista-panel" style="height: auto;overflow: initial;">
              <li *ngIf="!usuarioLogado">
                <a [routerLink]="['/login']">Iniciar Sesion</a>
              </li>
              <hr>
              <li>
                <a [routerLink]="['/newAccount']">Crear Cuenta</a>
              </li>
              <hr>
              <li>
                <a *ngIf="usuarioLogado" (click)="desconectar()" class="logout">Desconectarse</a>
              </li>
               <li>
                <a  *ngIf="usuarioLogado" [routerLink]="['/perfil']"> Ver Perfil</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      }@else {
      <a [routerLink]="['/login']"  class="icono">Iniciar Sesion/Registrarse</a>
      }


    </li>


    <li class="menu-button"><a  (click)="toggleMenu()" ><svg xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 96 960 960" width="26"><path d="M120 816v-60h720v60H120Zm0-210v-60h720v60H120Zm0-210v-60h720v60H120Z"/></svg></a></li>
  </ul>

<!--  <div class="dropdown">-->

<!--    <p-avatar class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="usuarioLogado" icon="pi pi-user" styleClass="mr-2" size="large"  [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }" shape="circle"><img class="foto-icono" src={{datosUsuario.profile_picture}}></p-avatar>-->
<!--    <p-avatar class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="!usuarioLogado" icon="pi pi-user" styleClass="mr-2" size="large"  [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }" shape="circle"></p-avatar>-->

<!--    <ul class="dropdown-menu" style="">-->
<!--      <li><a class="dropdown-item" href="#">Mierda</a></li>-->
<!--      <li><a class="dropdown-item" href="#">Mas Mierda</a></li>-->
<!--      <li><a class="dropdown-item" href="#">Ultra Mierda</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div class="login-dropdown" [class.show]="loginOpen">-->
<!--    <a [routerLink]="['/login']">Iniciar sesión</a>-->
<!--    <a [routerLink]="['/register']">Registrarse</a>-->
<!--    <a (click)="desconectar()">Salir</a>-->
<!--  </div>-->

</nav>

<!--<p>Width: {{windowWidth}}px, Height: {{windowHeight}}px</p>-->

