
<div class="contenedor-perfil">
  <div class="cuerpo">
    <div class="cabecera-perfil">
      <button class="boton-volver" (click)="onBack()">Volver Atrás</button>
      <h2>Perfil</h2>
    </div>
    <div class="contenedor-foto">
      <p>Foto de Perfil</p>
      <img class="photo_user" src="{{datosUsuario.profile_picture}}" alt="Imagen no disponible">
    </div>
    <div class="contenedor-nombre-usuario">
      <div class="titulo-nombre">
        <p>Nombre de Usuario</p>
      </div>
      <div class="nombre">
        <p>{{datosUsuario.username}}</p>
      </div>
    </div>
  </div>
</div>

