<div class="main-content">

  <h1>¿Quienes Somos?</h1>


  <div class="contenedor-secundario">

    <div class="imagen-contenedor-secundario">
      <picture>
        <img src="assets/battlefield-6.webp">

      </picture>
    </div>

    <div class="contenedor-respuesta">
      <div class="cabecera-respuesta">
        <h5>¿Que ofrecemos?</h5>
      </div>

      <div class="cuerpo-respuesta">
        <p> Nuestro objetivo es proporcionar contenido de alta calidad que te mantenga informado y entretenido, desde las últimas noticias y reseñas hasta videos, guías y enlaces de descarga seguros.</p>
        <p>Analizamos los juegos más recientes y populares, ofreciéndote opiniones honestas y detalladas para ayudarte a decidir qué jugar a continuación. Además, disfruta de nuestros videos, donde encontrarás desde gameplays y tutoriales hasta análisis profundos y secretos de tus juegos favoritos. También te ofrecemos enlaces seguros y verificados para que puedas descargar tus juegos preferidos sin preocupaciones.</p>
      </div>
    </div>

  </div>

  <div class="contenedor-terciario">



    <div class="contenedor-respuesta-terciario">

      <div class="cabecera-respuesta-terciario">
        <h5>Nuestro Objetivo</h5>
      </div>

      <div class="cuerpo-respuesta-terciario">
        <p>En AntobsGames, nuestra misión es ser tu fuente de referencia definitiva en el mundo de los videojuegos. Nos apasiona el gaming tanto como a ti, y trabajamos incansablemente para traerte las noticias más recientes, análisis exhaustivos, reseñas imparciales y contenido exclusivo que te mantendrá informado y entretenido.</p>
<!--        <p>Analizamos los juegos más recientes y populares, ofreciéndote opiniones honestas y detalladas para ayudarte a decidir qué jugar a continuación. Además, disfruta de nuestros videos, donde encontrarás desde gameplays y tutoriales hasta análisis profundos y secretos de tus juegos favoritos. También te ofrecemos enlaces seguros y verificados para que puedas descargar tus juegos preferidos sin preocupaciones.</p>-->
      </div>
    </div>

    <div class="imagen-contenedor-terciario">
        <picture>
          <img src="assets/rocket.webp">
        </picture>
    </div>

  </div>



</div>

