<div class="contenedor-perfil">

  <div class="cuerpo" >

    <div class="cabecera-perfil">
      <p>Editar Perfil</p>
    </div>
    <div class="contenedor-foto">
<!--      <div class="cambiar-foto">-->
<!--        <h6>Cambiar foto de perfil</h6>-->
<!--        <input type="file" name="nueva_foto" accept="image/*" >-->
<!--      </div>-->
        <p>Foto de Perfil</p>
        <img  class="foto-perfil" src="assets/Butanero.png">
    </div>
    <div class="contenedor-nombre-usuario">
      <div class="titulo-nombre">
        <p>Nombre de Usuario</p>
      </div>

      <div class="input-nombre">
        <input type="text"  placeholder="Nombre Usuario">
      </div>
    </div>

    <div class="contenedor-correo">

        <div class="titulo-correo">
            <p>Correo Electronico</p>
        </div>

        <div class="input-correo">
            <input type="email" placeholder="Correo Usuario">
        </div>
    </div>

    <div class="contenedor-botones">
      <button  class="boton-guardar" routerLink="/" >Cancelar</button>
<!--     Hacer q solo se habilite si se realiza algun cambio -->
      <button class="boton-guardar" >Aceptar</button>
    </div>
  </div>

</div>
