

<form (ngSubmit)="onSubmit()" #imageForm="ngForm" class="form-container">
  <div class="contenedor-perfil">

    <div class="cuerpo">

      <div class="cabecera-perfil">
        <p>Editar Perfil</p>
      </div>

      <div class="contenedor-foto">
        <p>Foto de Perfil</p>
        <img *ngIf="isFileInputEnabled" class="foto-perfil" src="{{datosUsuario.profile_picture}}">
        <input type="file" (change)="onFileChange($event)"  required>
      </div>

      <div class="contenedor-nombre-usuario">
        <div class="titulo-nombre">
          <p>Nombre de Usuario</p>
        </div>
        <div class="input-nombre">
          <input type="text" value="{{datosUsuario.username}}" placeholder="{{datosUsuario.username}}" disabled>
        </div>
        <div *ngIf="errorValidate" class="p-error">
          {{ errorMessage }}
        </div>
      </div>

      <div class="contenedor-correo">
        <div class="titulo-correo">
          <p>Correo Electrónico</p>
        </div>
        <div class="input-correo">
          <input type="email" value="{{datosUsuario.email}}" placeholder="{{datosUsuario.email}}" disabled>
        </div>
      </div>

      <div class="contenedor-botones">
        <button class="boton-cancelar" routerLink="/">Cancelar</button>
        <button class="boton-guardar"  type="submit" [disabled]="!imageForm.valid && !isFileInputEnabled" >Aceptar</button>
      </div>

    </div>

  </div>
</form>

