
.contenedor-perfil{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color:blue;
  /*margin-left: 30px;*/
  /*margin-right: 30px;*/
  align-items: center;
}

.cuerpo{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width:55%;
  height:45%;
  min-width: 300px;
  max-width: 500px;
  background-color: #918888;
  border: 2px solid black;
}

.foto{
  width: 50px;
  height:50px;
  min-width: 200px;
  background-color: red;
  border-radius: 50%;
}


.foto-perfil{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color:purple;
  margin-bottom:10px;
}

.datos{
  width: 200px;
  height:200px;
  background-color: #d7ad00;
}

.contenedor-foto{
  display: flex;
  flex-direction: row;
  gap:20px;
  width:auto;
  height:auto;
  border-bottom:1px solid white;
  margin-bottom:10px;
  margin-top:10px;
  padding-left:5px;
}

.cabecera-perfil{
  display: flex;
  flex-direction: row;
  width:auto;
  height:auto;
  border-bottom:1px solid white;
  padding:10px;
  font-size:20px;
  font-weight: bold;
  margin-bottom:10px;
}

.contenedor-foto p{
  margin-top:10px;
  font-size:20px;

}

.contenedor-nombre-usuario{
  display: flex;
  flex-direction: row;
  width:auto;
  height:auto;
  border-bottom:1px solid white;
  padding-bottom:15px;
  padding-top:10px;
  padding-left:5px;
}

.contenedor-correo{
  display: flex;
  flex-direction: row;
  width:auto;
  height:auto;
  border-bottom:1px solid white;
  padding-bottom:20px;
  padding-top:25px;
  padding-left:5px;
}
.contenedor-botones{
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap:25px;
  width:auto;
  height:auto;
}

.contenedor-botones button{
  background-color: #f54f90;
  padding:10px 20px 10px 20px;
  border-radius: 10px;
  margin-top:20px;
}

.titulo-nombre, .titulo-correo{
  width:33%;
}

input{
  background-color: #625d5d;
  border:none;
  padding:10px;
}
.cambiar-foto{
  margin-left:10px;
  background-color: #f54f90;
  width: 200px;
  height: 50px;
}
/*Oculta el valor por defecto*/
input[type="file"] {
  color: transparent;
}

.datos-juego{
  width:20%;
  height: 20%;
  background-color: #f54f90;
}
