<div class="main-content">
  <div class="contenedor-titulo-informativo">
    <h2>Listado de los Juegos</h2>
  </div>
  <div class="contenedor-buscador">

    <input type="search"  placeholder="Buscar..." (input)="onSearchTermChange($event.target.value)" name="buscador">
    <div>
      <p-sidebar [(visible)]="sidebarVisible">

        <form>
          <div class="main-filter-content">
            <h4>Filtrar Juegos</h4>

            <div class="filter-section">
              <h5>Géneros</h5>
              <div class="contenedor-generos">

                  <div *ngFor="let genre of generosOpciones">
                    <label>
                      <input type="checkbox" [value]="genre[0]" (change)="onGenreChange(genre[0], $event)" >
                      {{ genre[1] }}
                    </label>
                  </div>
              </div>
            </div>

            <div class="filter-section">
              <h5>Plataformas</h5>
              <div class="contenedor-generos">
              <div *ngFor="let platform of plataformasOpciones">
                <label>
                  <input type="checkbox" [value]="platform[0]" (change)="onPlatformChange(platform[0], $event)">
                  {{ platform[1] }}
                </label>
              </div>
            </div>
            </div>

          </div>
        </form>

      </p-sidebar>

      <span class="span-filtro" (click)="sidebarVisible = true" title="Filtrar">
          <i class="bi bi-funnel-fill"></i>

      </span>
    </div>
  </div>

  <div class="contenedor-juegos">
    <div *ngIf="!isLoading"  class="juegos">
      @if(totalGames){

      <div class="juego" *ngFor="let game of (gamesPrueba | paginate: { id: 'gamesListPagination', itemsPerPage: 15, currentPage: currentPage, totalItems: totalGames })">


        <a>
          <picture [routerLink]="['/infoGame/' + game.id]">
            <img class="imagen-portada" [src]="game.front_page" alt="No se encontro la imagen">
<!--            <img class="imagen-portada" src="assets/fort.jpg" alt="No se encontro la imagen">-->
          </picture>
        </a>
        <div class="informacion" [routerLink]="['/infoGame/' + game.id]">
          <div class="text">
            <div class="contenedor-titulo" >
              <span class="titulo" >{{game.title}}</span>
            </div>
          </div>
        </div>
      </div>


    }@else{
      <mat-progress-spinner *ngIf="isLoading" mode="determinate"></mat-progress-spinner>
    <div class="contenedor-sinJuegos">
        <div class="div-sinJuegos">
        <img src="/assets/mapache-pedro.gif">
       <h2>!Oh vaya, no hay juegos con esas caracteristicas!</h2>
        </div>
    </div>
      }
  </div>

  @if (prevPage || nextPage) {
  <div class="pagination">
      <pagination-controls
        (pageChange)="currentPage = $event; changePage(currentPage)"
        id="gamesListPagination"
        maxSize="5"
        directionLinks="true"
        previousLabel="Anterior"
        nextLabel="Siguiente"

      ></pagination-controls>
  </div>
  }
</div>

