<div class="main-content">

  <div class="contenedor-formulario">
    <div class="cabecera-formulario">
    </div>
    <form #formForgotten="ngForm" class="formulario">


      <label>Correo</label>
      <input class="input-formulario"  placeholder="Correo" type="email" ngModel name="email" email required #email="ngModel">


      <span *ngIf="errorValidate" class="p-error">
               {{ errorMessage }}
      </span>

      <div class="contenedor-botones">
        <button class="cancel" type="button" (click)="cancelRecoveryPassword()">Cancelar</button>
        <button class="confirmar" [disabled]="!formForgotten.valid" (click)="recoveryPassword()">Enviar Código</button>

      </div>

    </form>
  </div>
</div>
