<footer>
  <div class="footerContainer">
    <div class="socialIcons">
      <a href="">
        <i class="pi pi-whatsapp" style="color:green" ></i>
      </a>
      <a href="">

        <i class="pi pi-instagram" style="color:#f54f90;" ></i> </a>

      <a href="">
        <i class="pi pi-twitter" style="color:white" ></i>
      </a>
      <a href="">
        <i class="pi pi-facebook" style="color:#0866ff"></i>
      </a>
    </div>

    <div class="footerNav">
      <ul>
        <li><a href="">Home</a></li>
        <li><a routerLink="/sobreNosotros">Sobre Nosotros</a></li>
        <li><a routerLink="/contactaConNosotros">Contacta Con Nosotros</a></li>
        <li><a routerLink="/nuestroEquipo">Nuestro Equipo</a></li>
      </ul>
    </div>

  </div>
  <div class="footerBottom">
    <p>Copyright &copy;2023</p>
  </div>
</footer>
